<mt:setvarblock name="listing_header" append="1">
<__trans_section component="PreloadTemplate">
    <mt:if name="template_type" eq="preload">
        <p><a href="<mt:var name="script_url">?__mode=view&amp;_type=template&amp;type=module&amp;subtype=preload&amp;blog_id=<mt:var name="blog_id">" class="icon-left icon-create"><__trans phrase="Create preload template"></a></p>
    </mt:if>
</__trans_section>
</mt:setvarblock>
